<section id="experience" class="py-20 bg-gray-50">
  <div class="container mx-auto px-6">
    <h2 class="text-4xl font-bold text-center text-gray-800 mb-12">Work Experience</h2>
    <div class="max-w-4xl mx-auto">
      <div
        *ngFor="let exp of experience"
        class="mb-8 bg-white p-8 rounded-lg shadow-md hover:shadow-xl transition"
      >
        <div class="flex flex-col md:flex-row md:justify-between md:items-start mb-4">
          <div>
            <h3 class="text-2xl font-bold text-gray-800">{{ exp.title }}</h3>
            <p class="text-xl text-blue-500 my-2.5">
              <a [href]="exp.link" target="_blank" rel="noopener">{{ exp.company }}</a>
            </p>
            <p class="text-gray-600">{{ exp.location }}</p>
          </div>
          <span class="text-gray-500 mt-2 md:mt-0">{{ exp.period }}</span>
        </div>
        <ul class="list-disc list-inside space-y-2">
          <li *ngFor="let item of exp.description" class="text-gray-600">{{ item }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
